.app__footer {
    flex: 1;
    width: 100%;
    flex-direction: column;
}

.app__footer-cards {
    width: 60%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    margin: 4rem 2rem 2rem;

    .app__footer-card {
        min-width: 290px;
        max-width: 60%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        margin: 1rem 0;
        padding: 1rem;
        border-radius: 10px;
        cursor: pointer;
        background-color: #c9cae2;
        transition: all 0.3s ease-in-out;

        img {
            width: 40px;
            height: 40px;
            margin: 0 0.7rem;
        }

        p {
            font-weight: 500;
        }

        a {
            text-decoration: none;
            font-weight: 600;
        }

        &:hover {
            box-shadow: 0 0 10px rgba(21, 21, 21, 0.435);
        }

        @media screen and (min-width: 450px) {
            width: 100%;
        }
    }

    @media screen and (min-width: 768px) {
        width: 100%;
    }
}

.app__footer-cards .app__footer-card:last-child:hover {
    box-shadow: 0 0 10px rgba(21, 21, 21, 0.435);
}

.app__footer-form {
    width: 60%;
    flex-direction: column;
    margin: 1rem 2rem;

    div {
        width: 100%;
        margin: 0.75rem 0;
        border-radius: 10px;
        background-color: var(--primary-color);
        cursor: pointer;

        transition: all 0.3s ease-in-out;

        input,
        textarea {
            width: 100%;
            padding: 0.95rem;
            border: none;
            border-radius: 7px;
            background-color: #c9cae2;

            font-family: var(--font-base);
            font-size: 1.1rem;
            color: var(--secondary-color);
            outline: none;
        }

        textarea {
            height: 220px;
            resize: none;
        }

        &:hover {
            box-shadow: 0 0 25px var(--primary-color);
        }

    }

    button {
        padding: 1rem 2rem;
        border-radius: 0.5rem;
        border: none;
        background-color: var(--secondary-color);
        color: rgb(255, 255, 255);
        font-weight: 600;

        cursor: pointer;
        transition: all 0.3s ease;
        margin: 0.5rem;

        &:hover {
            background-color: #c9cae2;
            color: rgb(201, 19, 19);
        }
    }

    @media screen and (max-width: 768px) {
        width: 100%;
        margin: 1rem 0;
    }
}